In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import jupyternotify

df = pd.read_csv('AMiner-Coauthor.txt', delimiter = "\t",header=None,
                 names=['First author', 'Second author', 'Number of collaborations'])

df['First author'] = df['First author'].str[1:]
df = df.sort_values(by='Number of collaborations', ascending=False)
df = df.reset_index(drop=True)
df = df.apply(pd.to_numeric)

pd.set_option('float_format', '{:f}'.format)

In [10]:
import networkx as nx
G = nx.Graph()

for i in range(len(df)):
    G.add_edge(int(df['First author'][i]), int(df['Second author'][i]), weight=int(df['Number of collaborations'][i]))

In [11]:

print(f'Number of nodes: {nx.number_of_nodes(G)}')
print(f'Number of edges: {nx.number_of_edges(G)}')
print(f'Density: {nx.density(G)}')
print(f'Average Clustering: {nx.average_clustering(G)}')

Number of nodes: 1560640
Number of edges: 4258946
Density: 3.497252100789859e-06
Average Clustering: 0.6495036740850655

In [2]:
import pandas as pd
author_df = pd.read_csv('AMiner-Author.txt', delimiter = "\t",header=None)
author_df[0][:10]
author_df[-10:]

                                                          0
15411887  #t secure information flow;timing leakage;exte...
15411888                                     #index 1712433
15411889                                 #n Andrea Gantchev
15411890                                                #a
15411891                                              #pc 2
15411892                                              #cn 3
15411893                                              #hi 1
15411894                                         #pi 1.0000
15411895                                        #upi 0.8333
15411896  #t subsumption architecture;Subsumption Archit...

In [24]:
df.head(50)

    First author  Second author  Number of collaborations
0         111806         977442                       320
1         966551         111806                       320
2         966551         977442                       320
3         980079          68033                       310
4         549347          80953                       306
5         324627          33938                       234
6         860814        1693619                       216
7         946534        1536687                       194
8         833156         815734                       143
9         218997         173556                       132
10       1224622         173556                       125
11        903059         634547                       121
12        234821          47744                       121
13        634547          63055                       120
14       1136619        1603668                       120
15       1602794        1108789                       118
16       1606225         230452                       118
17        546264        1528758                       115
18        792565         155984                       112
19        991514        1121238                       109
20       1123285         193523                       108
21        257526        1457127                       107
22       1504673         164747                       102
23        980079         839667                        99
24        665836          68976                        98
25        921838         946534                        97
26       1224622         218997                        97
27        336271         335578                        93
28        354869         444441                        93
29        215655         529794                        92
30        125533         831083                        91
31         23682        1034659                        91
32       1362951        1069015                        90
33       1470890        1694891                        89
34        899486         247357                        88
35       1416988        1086831                        88
36       1633924           8834                        88
37       1605658         987795                        87
38       1270436        1438751                        86
39        518168         680470                        85
40       1052415        1074444                        85
41        842157          36478                        84
42        306006         911982                        84
43       1523631        1297662                        84
44        287467          36478                        83
45       1420893         153023                        82
46        574116        1603242                        82
47       1156920         383969                        81
48        875311        1191651                        81
49        647938        1301809                        80